body{
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    font-size:  16px;
}
ul, ol{
    list-style-type: none ;
    margin: 0;
    padding: 0;
} 
a{
    text-decoration: none;
}
img{
    display: block;
}
h1, h2, h3, h4, h5, h6 p{
    margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    max-width: 1158px;
    padding: 0 15px ;
    margin: 0 auto;
}
 
/* #region header */
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.header{
    border-bottom: 1px solid #e7e9fc

}
.header-container {
    display: flex;
    align-items: center;

}
.header-nav {
    display: flex;
    align-items: center;

}
.address {
    font-style: normal;
    margin-left: auto
    
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;

}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-list {
    display:flex;
    align-items: center;
    gap: 40px;
}
.nav-link {
    padding: 24px 0;
    display: block;

}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
/* #endregion */
/* #region main */
.baner{
    background: #2e2f42;

}
.baner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 600px;

}
.heading{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    padding: 188px 0;
}
.baner-button{
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    min-width: 169px;
    display: block;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.baner-button:focus,.baner-button:hover {
    background:#404bbf;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;

}
.section-subtitle{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.section-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team{
    background-color: #F4F4FD
}
.team-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

}
.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.team-item {
    background-color: #fff;
}

/* #endregion */
/* #region footer */
.footer-logo .logo-part {
    color: #f4f4fd;;
}
.footer{
    background: #2e2f42;
}
.footer-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
/* #endregion */
